.theme-toggle-button {
  position: fixed;
  top: 55px; 
  right: 10px; 
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 50px; /* Botón más redondeado */
  padding: 10px 20px; /* Ajusta el padding según prefieras */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espacio entre el ícono y el texto */
  z-index: 9999; /* Asegúrate de que el botón esté siempre visible */
}

.theme-toggle-button:hover {
  background-color: #0056b3; /* Cambia el color al pasar el ratón */
  z-index: 9999; /* Asegúrate de que el botón se mantenga en frente */
}