.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 70%;
  float: left;
  overflow: hidden;
  background-color: #0056b3;
  margin-bottom: auto;
}


.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  background-color: skyblue;
  font-family: Arial, Helvetica, sans-serif;
}

.card-header h2 {
  margin: 0;
  font-size: 1.5rem;
  background-position: center;
}

.card-body {
  font-size: 1rem;
  padding: 1%;
}

.card-content {
  flex: 1;
}

.card-add-button {
  padding: 0.8rem 1.2rem;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
  margin-left: auto; /* Ajuste para alinearlo a la derecha */
  margin-right: 10px; /* Separación del borde */
  margin-top: 20px; /* Espacio arriba del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}


.card-add-button:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-2px);
}


  :root[data-bs-theme='light'] {
    --background-color: white;
    --text-color: black;
    --table-background: rgba(255, 255, 255, 0.8); 
    --table-text-color: black;
    --card-background: #f8f9fa;
    --card-border-color: #ddd; 
  }
  
  :root[data-bs-theme='dark'] {
    --background-color: #1e1e1e;
    --text-color: white;
    --table-background: rgba(50, 50, 50, 0.8); 
    --table-text-color: white;
    --card-background: #2e2e2e; 
    --card-border-color: #444; 
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  table {
    background-color: var(--table-background);
    color: var(--table-text-color);
  }
  
:root[data-bs-theme='light'] {
  --card-background: #f8f9fa;
  --card-border-color: #ddd; 
  --text-color: black;
}

:root[data-bs-theme='dark'] {
  --card-background: #2e2e2e; 
  --card-border-color: #444; 
  --text-color: white;
}

.card {
  background-color: var(--card-background);
  border-color: var(--card-border-color);
  color: var(--text-color);
}

@media (max-width: 768px) {

  .card {
    width: 100%;
    margin: 10px 0;
  }
  

  .card-add-button {
    margin-left: 80%;
  }
}
