.table-container {
  margin-top: 20px;
  border-radius: 10px; /* Redondear bordes de la tabla */
  overflow: hidden; /* Para asegurar que los bordes no se corten */
  width: 100%; /* Ajusta el ancho de la tabla al 50% del contenedor */
  margin-right: auto; /* Centra la tabla a la izquierda */
}

table {
  width: 100%; /* Mantén la tabla al 100% de su contenedor */
  border-collapse: collapse;
}

th, td {
  padding: 8px 10px; /* Ajusta el relleno para hacerlo más angosto */
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  color: black;
}


