.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8EFE6;
  padding: 0 30px;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

body {
  margin: 0;
  padding: 0;
}

.logo {
  flex: 1; /* Asegura que ocupe el espacio necesario */
  display: flex;
  align-items: center; /* Centra verticalmente la imagen dentro del navbar */
  justify-content: flex-start; /* Alinea la imagen a la izquierda */
}


.logo img {
  height: 100%; /* Asegura que el logo ocupe toda la altura del navbar */
  max-height: 60px; /* Ajusta este valor según la altura del navbar */
  width: auto; /* Mantén la proporción de la imagen */
  object-fit: contain; /* Asegura que la imagen no se deforme */
}

.navList {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  padding: 0 20px;
  position: relative;
}

.navItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: #333;
}

.navLink {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navLink:hover {
  color: #7190A8;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .navList {
    flex-direction: column;
    width: 100%;
  }

  .navItem {
    padding: 10px 0;
    width: 100%;
    text-align: left;
  }

  .navItem:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: #333;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px 15px;
  }

  .logo a {
    font-size: 1rem;
  }

  .navLink {
    font-size: 0.9rem;
  }
}