.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8EFE6; /* Color de fondo */
  padding: 10px 20px;
  border-bottom: 1px solid #333; /* Línea de separación */
  width: 100%;
  position: fixed; /* Fija la navbar en la parte superior */
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
body {
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0;
}

.logo {
  flex: 1;
}

.logo a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

.navList {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  padding: 0 10px;
}

.navLink {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
}

.navLink:hover {
  color: #D87519; /* Efecto hover */
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
}