.payment-card {
    bottom: 0; /* Posición en la parte inferior */
    left: 0; /* Posición en el lado izquierdo */
    width: auto; /* Ancho automático */
    max-width: 600px; /* Ancho máximo para no exceder un límite */
    background-color: #f1f1f1; /* Color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto elevado */
    display: flex;
    flex-direction: column; /* Permite que los elementos se apilen verticalmente */
    padding: 20px; /* Espaciado interior */
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 1%; /* Espaciado exterior */
    border-radius: 8px; /* Esquinas redondeadas */
}

.card-header {
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
    text-align: center; /* Centra el texto */
    margin-bottom: 10px; /* Espacio entre el título y el contenido */
}

.card-content {
    margin: 10px 0; /* Margen superior e inferior para separar el contenido */
    text-align: center; /* Opcional: Centra el contenido */
}

.pay-button {
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    padding: 15px 30px; /* Espaciado interno del botón */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto; /* Empuja el botón hacia abajo */
    margin-left: 20px;
    margin-right: 20px;
}

.pay-button:hover {
    background-color: #45a049; /* Cambio de color al hacer hover */
}
